@use '../../common/style/index' as *;

.radio {
  display: none;
  &__label {
    display: inline-block;
    cursor: pointer;
    font-size: var(--font-500);
    padding: rem(10) rem(30);
    border: 1px solid var(--clr-grey-1);
    border-radius: 7px;
    transition: all 0.3s;

    &:hover {
      background-color: var(--clr-black);
      color: white;
    }
  }

  &:checked + &__label {
    background-color: var(--clr-black);
    color: white;
  }
}
