@use '../common/style/index' as *;

.models {
  &__container {
    width: 100%;
    padding-inline: rem(50);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 90vh;

    @include breakpoint-down(smallish) {
      padding-inline: rem(30);
    }

    @include breakpoint-down(small) {
      padding-inline: rem(20);
    }
  }

  &__header {
    width: 100%;

    display: flex;
    padding-block: rem(30);
    align-items: center;
    justify-content: space-between;

    .form {
      .btn {
        position: absolute;
        top: rem(-20);
        right: 0;
        padding: rem(8.5) rem(10);
        svg {
          font-size: var(--font-400);
        }

        @include breakpoint-down(smallish) {
          top: rem(-18.7);
        }
      }
    }

    .select {
      margin-bottom: rem(32);
      padding-block: rem(10);
    }

    &-left {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
      gap: rem(60);

      @include breakpoint-down(medium) {
        gap: rem(40);
      }
      @include breakpoint-down(small) {
        .select__wrapper {
          display: none;
        }
      }
    }

    .btn {
      @include breakpoint-down(small) {
        padding: rem(10) rem(10);
      }
    }
  }
  &__search-filter {
    width: rem(300);
    border: 1px solid var(--clr-black);
    border-radius: 0px;

    @include breakpoint-down(medium) {
      width: rem(200);
    }
    @include breakpoint-down(small) {
      width: rem(150);
    }
  }

  &__content {
    padding-bottom: rem(40);

    width: 100%;
    display: grid;
    gap: rem(80);
    grid-template-columns: rem(300) 1fr;

    @include breakpoint-down(medium) {
      grid-template-columns: rem(270) 1fr;

      @include breakpoint-down(smallish) {
        grid-template-columns: 1fr;
        padding-inline: rem(20);
      }
    }
  }

  .model-filters {
    @include breakpoint-down(smallish) {
      display: none;
    }
  }
}
