@use '../../common/style/index' as *;
.active-filter {
  background-color: black;
  color: white;
  font-size: rem(12);
  padding: rem(5) rem(10);

  display: flex;

  border-radius: 20px;
  position: relative;

  &__atributes {
    margin-right: rem(15);
    text-transform: capitalize;
  }

  &__close {
    font-size: rem(14);
    cursor: pointer;

    position: absolute;
    right: 10px;
    top: rem(2);
    transition: all 0.3s;

    &:hover {
      color: var(--clr-red);
    }
  }
}
