@use '../../common/style/index' as *;
.modal {
  width: min(rem(400), 80vw);
  background-color: white;

  &__header {
    background-color: var(--clr-black);
    color: white;
    padding: rem(15);
  }

  &__content {
    padding: rem(30) rem(15);
  }

  &__footer {
    padding-inline: rem(10);
    padding-bottom: rem(10);
    display: flex;
    gap: rem(15);
    justify-content: end;
  }
}
