@use '../../common/style/index' as *;

.modal {
  background-color: var(--clr-grey-5);
  width: min(rem(300), 60vw);

  &__header {
    display: flex;

    justify-content: space-between;
    padding: rem(20) rem(30);
  }

  &__title {
    font-size: var(--font-600);
    text-transform: capitalize;
  }

  &__toggle {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;

    font-size: var(--font-800);
  }

  &__body {
    max-height: 0px;
    padding-inline: rem(30);
    overflow: hidden;
    transition: max-height 0.4s;

    &--shown {
      max-height: 300px;
    }

    .radio {
      &__label {
        margin-block: rem(15);
      }
    }
  }
}
