@use '../common/style/index' as *;

.navbar {
  background-color: var(--clr-black);
  padding: rem(20) rem(60);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint-down(small) {
    padding-inline: rem(30);
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: rem(10);
    font-size: var(--font-600);

    svg {
      @include breakpoint-down(small) {
        display: none;
      }
    }
  }

  &__links {
    display: flex;
    gap: rem(50);

    @include breakpoint-down(small) {
      gap: rem(15);
    }
  }

  &__link {
    font-size: var(--font-400);
    padding: rem(10) rem(20);
    transition: all 0.4s;
    &:hover {
      background-color: rgb(65, 65, 65);
    }
  }
}
